.home-wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.home__content-wrapper {
  grid-column: 2/4;
}

.home__container-1 {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  width: 50vw;

  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
}

#home__header-1 {
  font-size: 1.2em;
  font-weight: 700;
}

.home__container-2 {
  padding-top: 4em;
  border: 1px solid lightgray;
  background-color: lightyellow;
  height: 21vh;
}

.home__tweet-textbox {
  /* border: none; */
  height: 8em;
  width: 30em;
  background-color: lightgray;
}

#submit-btn {
  height: 4em;
  width: 4em;
}

/* ------all things tweets------------------------------- */

.home__container-3 {
  /* border: 1px solid blue; */
}

.home-tweet__container {
  border-bottom: .06em solid rgba(228, 228, 228, 0.986);
  padding: 12px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.home-tweet__container:hover {
  background-color: rgba(250, 250, 250, 0.986);
}

.home-tweet__profile-container {
  grid-column: 1/3;
  grid-row: 1/3;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-tweet__profile-img {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

.home-tweet__user-container {
  grid-column: 3/11;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

#home-tweet__full-name {
  font-weight: 600;
  letter-spacing: .02em;
  font-size: 1em;
}

#home-tweet__username {
  font-size: .98em;
  font-weight: 400;
  padding-left: 10px;
  color: rgb(116, 116, 116);
}

.home-tweet__content-container {
  grid-column: 3/11;
  grid-row: 2/3;

  display: flex;
  align-items: center;

  font-size: 1em;
  letter-spacing: .01em;
  color: black;
}








.home-tweet__options-container {
  grid-column: 3/10;
  grid-row: 3/4;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: rgb(116, 116, 116);
  /* background-color: yellow; */
}

.home-tweet__option {
  margin-right: 70px;
  font-size: 1em;
  padding: 0px 60px 0px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* letter-spacing: 1em; */
  /* background-color: red; */
}

.home-tweet__comment:hover {
  color: #FFE433;
}

.home-tweet__like:hover {
  color: rgb(226, 93, 93);
}

.home-tweet__bookmark:hover {
  color: #FFE433;
}





#home-tweet__comment-icon {
  /* border: 1px solid red; */
  padding: 7px 8px;
  margin-right: 8px;
  border-radius: 50%;
  
  display: flex;
  justify-items: center;
}

#home-tweet__comment-icon:hover {
  background-color: #fdf7c8ec;
}

#home-tweet__like-icon {
  /* border: 1px solid red; */
  padding: 7px 8px;
  margin-right: 8px;
  border-radius: 50%;

  display: flex;
  justify-items: center;
}

#home-tweet__like-icon:hover {
  background-color: rgba(252, 204, 204, 0.795);
}

#home-tweet__bookmark-icon {
  /* border: 1px solid red; */
  padding: 6px 9px;
  margin-right: 8px;
  border-radius: 50%;

  display: flex;
  justify-items: center;
}

#home-tweet__bookmark-icon:hover {
  background-color: #fdf7c8ec;
}







.home-tweet__dropdown-container {
  grid-column: 12/13;
  grid-row: 1/2;
  
  display: flex;
  justify-content: center;
  align-items: center;
}